import { newE2EPage } from '@stencil/core/testing'

describe('br-{{name}}', () => {
  it('deve renderizar', async () => {
    const page = await newE2EPage()
    await page.setContent('<br-{{name}}></br-{{name}}>')

    const element = await page.find('br-{{name}}')

    expect(element).toHaveClass('hydrated')
  })

  it('deve ter shadow root', async () => {
    const page = await newE2EPage()
    await page.setContent('<br-{{name}}></br-{{name}}>')

    const element = await page.find('br-{{name}}')

    expect(element.shadowRoot).not.toBeNull()
  })
})
