import { newSpecPage } from '@stencil/core/testing'
import { {{toPascalCase name}} } from '../{{name}}'

describe('{{br-{{name}}}}', () => {
  it('deve inicializar com o estado padrão padrão', async () => {
    const page = await newSpecPage({
      components: [{{toPascalCase name}}],
      html: /*html*/ `<br-{{name}}></br-{{name}}>`,
    })

    const element = page.root.shadowRoot.querySelector('.br-{{name}}')
    expect(element).toBeTruthy()
  })
