@import "~@govbr-ds/core/src/components/item/item";

:host {
  display: block;
}

::slotted(br-checkbox) {
  max-width: fit-content;
  max-height: fit-content;
}

::slotted(br-radio) {
  max-width: fit-content;
  max-height: fit-content;
}
