<div class="d-flex flex-wrap justify-content-evenly mt-5">
  <br-list role="list" header="Densidade alta (padrão)">
    <br-item role="listitem">
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Texto principal
      <span slot="end">META</span>
    </br-item>
    <span class="br-divider"></span>
    <br-item role="listitem">
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Texto principal
      <span slot="end">META</span>
    </br-item>
    <span class="br-divider"></span>
    <br-item role="listitem">
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Texto principal
      <span slot="end">META</span>
    </br-item>
    <span class="br-divider"></span>
  </br-list>

  <br-list role="list" header="Densidade média">
    <br-item density="middle" role="listitem">
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Texto principal
      <span slot="end">META</span>
    </br-item>
    <span class="br-divider"></span>
    <br-item density="middle" role="listitem">
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Texto principal
      <span slot="end">META</span>
    </br-item>
    <span class="br-divider"></span>
    <br-item density="middle" role="listitem">
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Texto principal
      <span slot="end">META</span>
    </br-item>
    <span class="br-divider"></span>
  </br-list>

  <br-list role="list" header="Densidade baixa">
    <br-item density="small" role="listitem">
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Texto principal
      <span slot="end">META</span>
    </br-item>
    <span class="br-divider"></span>
    <br-item density="small" role="listitem">
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Texto principal
      <span slot="end">META</span>
    </br-item>
    <span class="br-divider"></span>
    <br-item density="small" role="listitem">
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Texto principal
      <span slot="end">META</span>
    </br-item>
    <span class="br-divider"></span>
  </br-list>
</div>