<div class="d-flex flex-wrap justify-content-evenly mt-5">
  <br-tag label="Carro 1" icon-name="fa-solid:car" interaction></br-tag>
  <br-tag label="Carro 2" icon-name="fa-solid:car" interaction></br-tag>
  <br-tag label="Carro 3" icon-name="fa-solid:car" interaction></br-tag>
</div>
