<div class="row">
  <div class="col-md">
    <p class="h4">Seleção única</p>
    <div class="d-flex align-items-center">
      <br-tag label="Carro" name="vehicle" icon-name="fa-solid:car" interaction-select></br-tag>
      <br-tag label="Barco" name="vehicle" icon-name="fa-solid:ship" interaction-select selected></br-tag>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <p class="h4">Seleção múltipla</p>
    <div class="d-flex align-items-center">
      <br-tag multiple label="Bicicleta" name="multipla" icon-name="fa-solid:bicycle" interaction-select></br-tag>
      <br-tag multiple label="Barco" name="multipla" icon-name="fa-solid:ship" interaction-select selected></br-tag>
      <br-tag
        multiple
        label="Carro"
        name="multipla"
        icon-name="fa-solid:car"
        interaction-select
        selected
        disabled
      ></br-tag>
    </div>
  </div>
</div>