<div class="d-flex flex-column justify-content-evenly mt-5 p-4">
  <br-upload label="Envio de arquivo" disabled></br-upload>
  <br-message
    class="spacing-feedback"
    state="warning"
    is-feedback
    message="Upload desabilitado"
    show-icon
    aria-label="Upload desabilitado"
  ></br-message>
</div>