<div class="d-flex flex-column flex-wrap justify-content-evenly mt-5 p-4">
  <br-item>
    <img src="https://picsum.photos/40/40" alt="imagem de exemplo 1" />
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
  </br-item>
  <span class="br-divider"></span>
  <br-item>
    Lorem ipsum <a href="javascript:void(0);">dolor</a>, sit amet consectetur
    <a href="javascript:void(0);">adipisicing</a> elit.
    <br-button shape="circle" aria-label="Interagir com item">
      <br-icon icon-name="fa6-solid:city"></br-icon>
    </br-button>
  </br-item>
  <span class="br-divider"></span>
  <br-item href="javascript: void(0)">Item link </br-item>
  <span class="br-divider"></span>
  <br-item is-button> Item botão </br-item>
  <br-item id="myButton" is-button onclick="console.log(this)">Clique aqui</br-item>
</div>