<div class="d-flex flex-wrap justify-content-between mt-5 p-1">
  <!-- Campo com Min e Max -->
  <br-input
    id="min-max"
    type="number"
    min="1"
    max="5"
    label="Campo com Min e Max (5 caracteres)"
    placeholder="Escolha um número entre 1 e 5"
    title="Limite de 1 a 5"
    density="large"
    class="mr-2"
  ></br-input>

  <!-- Campo com Autocorrect -->
  <br-input
    id="autocorrect"
    type="text"
    autocorrect="on"
    label="Campo com Autocorrect (correção automática)"
    placeholder="Digite seu texto com correção automática"
    title="Correção ortográfica ativada"
    density="large"
    class="mr-2"
    aria-describedby="autocorrect-description"
  ></br-input>

  <!-- Campo com MinLength e MaxLength -->
  <br-input
    id="min-max-length"
    type="text"
    minLength="1"
    maxLength="10"
    label="Campo com MinLength e MaxLength(10)"
    placeholder="Digite um texto de até 10 caracteres"
    title="Limite de 1 a 10 caracteres"
    density="large"
    class="mr-2"
  ></br-input>

  <!-- Campo com Pattern -->
  <br-input
    id="country-code-pattern"
    type="text"
    pattern="[A-Za-z]{3}"
    label="Campo com Pattern"
    placeholder="Digite o código de país com três letras"
    title="Formato de código de país de três letras (ex: BRA)"
    density="large"
    class="mr-2"
    required
    aria-required="true"
    aria-describedby="pattern-description"
  ></br-input>

  <!-- Campo de Nome de Usuário com Spellcheck -->
  <br-input
    type="text"
    id="username"
    name="username"
    label="Campo com Spellcheck (Correção Ortográfica)"
    placeholder="Digite seu nome de usuário"
    title="Verifique a ortografia do seu nome de usuário"
    spellcheck="true"
    aria-label="Nome de usuário com verificação ortográfica"
    density="large"
    class="mr-2"
    aria-describedby="username-description"
  ></br-input>
  <!-- Campo de Nome de Usuário com Step -->
  <br-input
    type="number"
    id="points"
    name="points"
    label="Campo com Step (incremento de 3)"
    placeholder="Digite a quantidade de pontos"
    step="3"
    title="Digite um número de pontos com incremento de 3"
    density="large"
    class="mr-2"
    required
    min="0"
    aria-label="Pontos com incremento de 3"
    aria-describedby="points-info"
  ></br-input>
</div>
